body, html, .extra-background {
    width: 100%;
    position: absolute;
    height: 100%;
}

body {
    background-image: url("/static/bathroom.jpg");
    background-size: cover;
    width: 100vw;
    height: 100vh;
}

.extra-background {
    background: rgba(0, 0, 0, 0.8);
}

#tile-list {
    max-height: 600px;
    overflow-y: auto;
}

#tile-list .row {
    margin-top: 1rem;
}

#loading-circle {
    margin: 3rem auto;
}

.loader {
    border: 16px solid #f3f3f3; /* Light grey */
    border-top: 16px solid #3498db; /* Blue */
    border-radius: 50%;
    width: 120px;
    height: 120px;
    animation: spin 2s linear infinite;
}

@keyframes spin {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}